@keyframes heartbeat {
	0% {
		transform: scale(.99);
	}
	50% {
		transform: scale(1.01);
	}
	100% {
		transform: scale(.99);
	}
}
.heartbeat {
	animation: heartbeat 1s infinite;
}
/* Scrollbar style */
* {
	scrollbar-width: thin;
	scrollbar-color: #aaa4 #0000;
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}
*::-webkit-scrollbar-track {
	background: #0000;
}
*::-webkit-scrollbar-thumb {
	background-color: #aaa4;
	border-radius: 5em;
}